{{#> layout currentPage = "login"}}
<!-- Login Form -->
<main class="container mt-5">
  <section class="d-flex flex-column justify-content-center mx-auto login-form-container">
    <form action="/login" method="post">
      <h3 class="mb-3">Welcome Back! Please Login</h1>

      {{#if messages.success}}
      <div class="alert alert-success" role="alert">
        {{messages.success}}
      </div>
      {{/if}}
      {{#if messages.warning}}
      <div class="alert alert-warning" role="alert">
        {{messages.warning}}
      </div>
      {{/if}}
      {{#if messages.error}}
      <div class="alert alert-danger" role="alert">
        {{messages.error}}
      </div>
      {{/if}}
      <div class="mb-3">
        {{!-- <label for="email" class="form-label">Email</label> --}}
        <input type="email" name="email" id="email" class="form-control" placeholder="email"  />
      </div>
      <div class="mb-3">
        {{!-- <label for="password" class="form-label">Password</label> --}}
        <input type="password" name="password" id="password" class="form-control" placeholder="password" />
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary px-3">Submit</button>
      </div>
    </form>
  </section>
</main>

{{/layout}}