{{#> layout currentPage = 'home' user = user}}
<!-- Main Section -->
{{#if messages.success}}
<div class="container alert alert-success mt-3" role="alert">
  {{messages.success}} {{user.name}}
</div>
{{/if}}
{{#if messages.warning}}
<div class="container alert alert-warning mt-3" role="alert">
  {{messages.warning}} {{user.name}}
</div>
{{/if}}
<main class="container">
  <div
    class="d-flex flex-md-row flex-column justify-content-md-center align-items-md-center justify-content-start align-items-start shadow p-4 my-4 mx-auto gap-3">
    <!-- Description -->
    <div class="d-flex flex-column">
      <h1>
        <b>Hi Welcome to my hut</b>
      </h1>
      <p class="mt-2">
        Hello, my name is Achmad Naufal Ilyasa, and I am 24 years old. I hold a Bachelor's degree in Informatics from Kalbis University, with a strong interest and skills in web development. After completing my studies, I enhanced my management and problem-solving abilities through two years of entrepreneurial experience. Although the businesses I managed faced challenges, these experiences taught me perseverance, adaptability, and analytical thinking in overcoming obstacles.
      </p>
      <p>
        Currently, I am eager to pursue a career in programming, where I have expertise in HTML, CSS, and JavaScript. I am accustomed to working both independently and in a team, and I have a strong passion for continuous learning and skill development in the technology industry.
      </p>
      <!-- Contact -->
      <div
        class="d-flex gap-2 align-items-center align-content-start justify-content-md-start justify-content-between my-4 mx-0">
        <a href="/contact" class="btn btn-dark rounded-5 px-5">contact</a>
        <div class="d-flex gap-1 align-items-center justify-content-center me-1 ms-lg-3">
          <span class="m-0">download CV</span>
          <a href="#" class="bi bi-download text-dark fs-5 ms-lg-2 pb-1"></a>
        </div>
      </div>
      <!-- Social Media -->
      <div class="d-flex gap-4 justify-content-md-start justify-content-between align-items-start mx-1">
        <a href="https://linkedin.com/in/naufalilyasa" class="btn btn-light rounded-circle p-0 lh-1" target="_blank"><img src="/assets/img/linkedin.png" alt="linkedin logo"
            width="50" height="50" /></a>
        <a href="https://www.instagram.com/ilyasa_naufal/" class="btn btn-light rounded-circle p-0 lh-1" target="_blank"><img src="/assets/img/instagram.png" alt="instagram logo"
            width="50" height="50" /></a>
        <a href="https://www.facebook.com/ilyasanaufa/" class="btn btn-light rounded-circle p-0 lh-1" target="_blank"><img src="/assets/img/facebook.png" alt="facebook logo"
            width="50" height="50" /></a>
        <a href="https://x.com/ilyasa_naufal7" class="btn btn-light rounded-circle p-0 lh-1" target="_blank"><img src="/assets/img/twitter.png" alt="twitter logo"
            width="50" height="50" /></a>
      </div>
    </div>
    <!-- Card -->
    <div class="container p-0 mt-md-2 mt-lg-0 card-container">
      <div class="card mx-auto card-container justify-content-center align-items-center shadow">
        <img src="/assets/img/IMG-20250122-WA0006.jpg" alt="User Image" class="card-img-top" />
        <div class="card-body">
          <h2 class="card-title text-center fs-3 fw-bold">
            Achmad Naufal Ilyasa
          </h2>
          <p class="card-text text-center">Fullstack Developer</p>
        </div>
      </div>
    </div>
  </div>
</main>
{{/layout}}