{{#> layout currentPage = 'project'}}
<!-- Project List -->
<section class="container">
  <h1 class="text-center my-3">MY PROJECT</h1>
  <a href="/project-create" class="btn btn-primary">Create Project</a>
  <div class="row row-cols-lg-3">
    <div class="col">
      <div class="card p-3 shadow gx-3 my-3" id="projectList">
        <div class="d-flex flex-column gap-2">
          <img src="img/class.webp" alt="" class="card-img-top" />
          <h2 class="card-title fs-4">Dumbways Mobile App - 2021</h2>
          <p class="fs-6 fw-light text-body-tertiary">durasi 3 bulan</p>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
            enim inventore. Eligendi illo ipsam reprehenderit repudiandae
            blanditiis, officiis dolore deleniti molestias quidem ut quas incidunt
            beatae id hic numquam cupiditate!
          </p>
          <div class="d-flex flex-row mb-3">
            <img src="/img/nodejs.png" alt="" width="32" height="32">
            <img src="/img/nextjs.png" alt="" width="32" height="32">
            <img src="/img/react.png" alt="" width="32" height="32">
            <img src="/img/typescript.png" alt="" width="32" height="32">
          </div>
          <div class="d-flex flex-row gap-1">
            <button class="btn btn-dark flex-fill">edit</button>
            <button class="btn btn-dark flex-fill">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/layout}}