{{#> layout currentPage = 'project'}}


<!-- Form Project -->
<main class="container-fluid bg-body-tertiary">
  {{!-- <section class="back-button-container">
    <button class="btn btn-dark bi bi-arrow-left-circle p-0 rounded-circle back-button"></button>
  </section> --}}
  <section class="container form-project-container">
    <div class="d-flex flex-column">
      <h1 class="mt-3 text-center">ADD MY PROJECT</h1>
      <form action="/project-create" method="post">
        <div class="my-3">
          <label for="projectName" class="form-text">Project Name</label>
          <input type="text" id="projectName" name="projectName" class="form-control" required/>
        </div>

        <div class="row row-cols-2 mb-3" id="date">
          <div class="col">
            <label for="startProjectDate" class="form-text">Start Date</label>
          </div>
          <div class="col">
            <label for="endProjectDate" class="form-text">End Date</label>
          </div>
          <div class="col">
            <input type="date" id="startProjectDate" name="startProjectDate" class="form-control" required />
          </div>
          <div class="col">
            <input type="date" id="endProjectDate" name="endProjectDate" class="form-control" required />
          </div>
        </div>

        <div class="mb-3" id="checkbox">
          <p class="fw-medium m-0">Technologies</p>
          <div class="row row-cols-2">
            <div class="col">
              <input type="checkbox" name="nodeJs" id="nodeJs" class="form-check-input" value="nodejs"/>
              <input type="hidden" name="nodeJs" class="form-check-input" value=""/>
              <label for="nodeJs" class="form-text">Node Js</label>
            </div>
            <div class="col">
              <input type="checkbox" name="nextJs" id="nextJs" class="form-check-input" value="nextjs" />
              <input type="hidden" name="nextJs" class="form-check-input" value=""/>
              <label for="nextJs" class="form-text">Next Js</label>
            </div>
            <div class="col">
              <input type="checkbox" name="reactJs" id="reactJs" class="form-check-input" value="reactJs" />
              <input type="hidden" name="reactJs" class="form-check-input" value=""/>
              <label for="reactJs" class="form-text">React Js</label>
            </div>
            <div class="col">
              <input type="checkbox" name="typescript" id="typescript" class="form-check-input" value="typescript" />
              <input type="hidden" name="typescript" class="form-check-input" value=""/>
              <label for="typescript" class="form-text">TypeScript</label>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-text">Description</label>
          <textarea name="description" id="description" class="form-control" rows="5" required></textarea>
        </div>

        <div class="mb-3">
          <label for="image" class="form-text">Upload Image</label>
          <input type="file" name="image" id="image" class="form-control" />
        </div>
        <div class="d-flex justify-content-end mb-3">
          <button class="btn btn-primary justify-content-end" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
</main>

{{/layout}}