{{#> layout currentPage = 'unauthorized'}}
<!-- Main Section -->
<main class="container">
  <div class="d-flex justify-content-center align-items-center mt-5">
    <p class="mt-2 fw-medium fs-1">
        You forbidden to see this page.
    </p>
  </div>
</main>
{{/layout}}